<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Contacts App</title>
</head>

<body>
    <h1>REST API for Contacts App</h1>
    <h3>
    GET REQUEST (to show all contacts)
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="SHOW ALL CONTACTS" />
    </form>
    </h3>
    <h3>
    GET REQUEST (to show a specific contact)
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="SHOW SPECIFIC CONTACTS" />
    </form>
    </h3>
    <h3>
    PUSH REQUEST (to create a contact)
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="CREATE CONTACT" />
    </form>
    </h3>
    <h3>
    PUT REQUEST (to update a contact)
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="UPDATE CONTACT" />
    </form>
    </h3>
    <h3>
    DELETE REQUEST (to delete a contact)
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="DELETE CONTACT" />
    </form>
    </h3>
</body>
 
</html>