<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Contacts App</title>
</head>

<body>
    <h1>REST API for Contacts App</h1>
    <h3>
    GET REQUEST (to show all contacts) </h3>
    <form action='http://127.0.0.1:5000/contacts'>
    <input type="submit" value="SHOW ALL CONTACTS" />
    </form>
    <h3>
    GET REQUEST (to show a specific contact) </h3>
    <form action='http://127.0.0.1:5000/contact' method="get">
    <div>
    <label for="id">Contact ID: </label>
    <input name="id" id="id" value="ID No. of the Contact">
    </div> <br>
    <input type="submit" value="SHOW SPECIFIC CONTACTS" />
    </form>
    <h3>
    POST REQUEST (to create a contact) </h3>
    <form action='http://127.0.0.1:5000/contacts' method="post">
    <div>
    <label for="name">Name: </label>
    <input name="name" id="name" value="Your Name">
    </div> <br>
    <div>
    <label for="mail">Mail: </label>
    <input name="mail" id="mail" value="Your Mail">
    </div> <br>
    <input type="submit" value="CREATE CONTACT" />
    </form>
    </h3>
    <h3>
    PUT REQUEST and DELETE REQUEST do not work from UI. Generate using some other method and in JSON Format.</h3>
    <h3>
    PUT REQUEST (to update a contact) </h3>
    <form action='http://127.0.0.1:5000/contacts' method="PUT">
    <div>
    <label for="id">Contact ID: </label>
    <input name="id" id="id" value="ID No. of the Contact">
    </div> <br>
    <label for="name">Name: </label>
    <input name="name" id="name" value="Your Name">
    </div> <br>
    <br>
    <div>
    <label for="mail">Mail: </label>
    <input name="mail" id="mail" value="Your Mail">
    </div> <br>
    <input type="submit" value="UPDATE CONTACT" />
    </form>
    </h3>
    <h3>
    DELETE REQUEST (to delete a contact) </h3>
    <form action='http://127.0.0.1:5000/contacts' method="delete">
    <div>
    <label for="id">Contact ID: </label>
    <input name="id" id="id" value="ID No. of the Contact">
    </div> <br>
    <input type="submit" value="DELETE CONTACT" />
    </form>
    </h3>
</body>
 
</html>